.content-one, .content-two{
    width: 50%;
}

.content-one{
    border-right: 2px solid;
}

.content-two{
    padding: 20px;
    font-size: 18px;
}

.detail, .info{
    font-weight: bold;
}

#name, #weight, #height{
    font-weight: 100;
}
.content, .info{
    width: 100%;
    display: inline-flex;
}

.label{
    margin-right: 5px;
}
.title{
    width: 100%;
}

#mytab1{
    width: 80%;
    text-align: center; 
}

table tr th{
    color: white;
    background: #44b8c6;
}


td, th {
    border: 1px solid #dddddd;
    padding: 5px;
  }

.btn-detail{
    width: 60%;
    background: #7bc0e1;
    color: white;
    border: none;
    padding: 5px;
}